body {
background-color: #ffffff;
font-family: sans-serif;
}

h1 {
text-align: center;
}

form {
width: 50%;
margin: 0 auto;
}

input {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
}

select {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
}

input[type="submit"] {
background-color: #000000;
color: #ffffff;
padding: 10px;
border: none;
cursor: pointer;
}
